<div class="min-h-screen bg-dots pt-20 pb-42 flex flex-col items-center">

    <div class="w-full flex flex-col items-center">
        <div class="text-center px-4 max-w-4xl">
            <h2 class="text-5xl md:text-8xl montserrat-bold text-black mb-4 drop-shadow-lg">
                Tu rumbo digital <span class="text-[var(--light-pink)]">sí </span><span
                    class="text-[var(--primary-purple)]">importa</span>
            </h2>
            <p class="text-xl md:text-2xl text-black/90 montserrat-italic max-w-2xl mx-auto">
                "En un océano de distracciones, encontrar el equilibrio es el acto más valiente de navegación."
            </p>
        </div>

        <div class="relative scale-95 lg:scale-100 transition-transform duration-500">
            <img src="characters/distress.webp" alt="Distress Girl" class="w-full max-w-[250px] sm:max-w-md h-auto" loading="lazy">
        </div>
    </div>

    <div class="w-full flex justify-center px-4 z-10">
        <div class="w-full max-w-5xl z-20">
            <app-wellness-test></app-wellness-test>
        </div>
    </div>
</div>
<div class="h-screen bg-dots-fade"></div>