<!-- NAV SECTION-->
<nav class="fixed left-1/2 -translate-x-1/2 z-50">
  <div
    class="flex items-center justify-between space-x-2 bg-white/80 backdrop-blur-md px-4 py-2 rounded-full border-b-4 border-r-4 border-black shadow-lg"
  >
    <a
      href="#"
      class="font-comic text-2xl main-purple border-b-2 border-r-2 border-transparent"
      >N</a
    >

    <div class="hidden md:flex space-x-3">
      <a href="#" class="text-gray-800 text-md font-comic">Inicio</a>
      <a href="#" class="text-gray-800 text-md font-comic">Acerca</a>
      <a href="#" class="text-gray-800 text-md font-comic">Servicios</a>
    </div>
  </div>
</nav>
<div class="mt-4 login-button-transition">
  <a
    href="#"
    class="comic-button bg-main-blue text-white font-comic text-lg py-1 px-4 rounded-lg border-b-4 border-r-4 border-black transform hover:scale-105 transition-transform duration-200 fixed right-8 z-50"
  >
    ÚNETE
  </a>
</div>
<!-- END NAV SECTION-->
